* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.sc {
    width: 85%;
    max-width: 900px;
    margin: 0px auto;
}

.two-column {
    display: flex;
    gap: 50px;
    margin-top:24px ;
}

.sidebar {
    width: 200px;
}
.sidebar h2 {
    margin: 0px;
    background-color: purple;
    padding: 6px 12px;
    color: white;
}
.sidebar ul {
    border: 0.5px solid purple;
    margin: 0px 0px 24px;
    padding: 12px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sidebar a {
    text-decoration: none;
    color: purple;
}

.content {
    flex: 1;
}
.content h1 {
    margin: 0px;
}