.top-dio {
    text-align: center;
    margin: 0px;
}
.top-dio h1{
    font-size: 50px;
    margin: 0%;
    color: rgb(112, 99, 170);   ;
}
.top-dio h3{
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 80px;
}

.imgs {
    display: flex;
    gap: 5%;
}


.frt-pic{
    padding: 30px;
    background-color: rgb(112, 99, 170);   
}
.frt-pic p {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

.scnd-pic{
    padding: 30px;
    background-color: rgb(112, 99, 170);   
}
.scnd-pic p {
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
}

.info {
    text-align: center;
    margin-top: 50px;
}

.btns{
    display: flex;
    margin-left: 25%;
    gap: 15%;
    margin-top: 5%;
}
.btn-one {
    background-color:  rgb(112, 99, 170); 
    border-radius: 15%;
    padding: 5%;
}
.btn-one a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.btn-two {
    background-color:  rgb(112, 99, 170); 
    border-radius: 15%;
    padding: 5%;
}
.btn-two a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}